<section class="container mainplate-wrapper">
  <div class="mainplate">
    <h2>english thru</h2>
    <p>Эффективный способ узнать об английском языке больше, чем знают его носители. Обретите академические знания в области романо-германской филологии. Научитесь читать, слушать, писать и говорить на качественном английском.</p>
  </div>
</section>

<h2 class="main-header">Выберите блок, который вы намерены освоить.</h2>

<section class="container">

    <div class="row" *ngFor="let course of courseListChunks; let i = index; trackBy: trackByFn;">
      <div class="col-md-4">

        <div class="courseplate">
          <div class="hoverline-orange"></div>
          <h2>{{course[0].Headline}}</h2>
          <p>{{course[0].Content}}</p>
          <img src="../public/pics/2.png" alt="">
          <div class="progressbar-wrapper">
            <div class="progressbar"></div>
          </div>
        </div>

      </div>
      <div class="col-md-4" *ngIf="course[1]">
        <div class="courseplate">
          <div class="hoverline-orange"></div>
          <h2>{{course[1].Headline}}</h2>
          <p>{{course[1].Content}}</p>
          <div class="progressbar-wrapper">
            <div class="progressbar"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="course[2]">
        <div class="courseplate">
          <div class="hoverline-orange"></div>
          <h2>{{course[2].Headline}}</h2>
          <p>{{course[2].Content}}</p>
          <div class="progressbar-wrapper">
            <div class="progressbar"></div>
          </div>
        </div>
      </div>
    </div>

  <router-outlet></router-outlet>

</section>

