<div class="flex-container">
  <div class="flex-1">
  </div>
  <div class="flex-2">
  </div>
</div>


<!--<div class="row" style="height:100px">-->
  <!--<div class="col-md-4" style="background-color: red; height:100%">-->

  <!--</div>-->
  <!--<div class="col-md-8" style="background-color: blue; height:100%">-->

  <!--</div>-->
<!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-4 theory">-->

      <!--<a href="B1.html">-->
        <!--<div class="theory-line">-->
          <!--<h3 style="">Noun.</h3>-->
        <!--</div>-->
      <!--</a>-->


      <!--<div class="theory-content-wrapper">-->

        <!--<div class="progress-bar-wrapper">-->
          <!--<div class="progress-bar"></div>-->
        <!--</div>-->


        <!--<div class="theory-content">-->

        <!--</div>-->

      <!--</div> &lt;!&ndash; конец враппера &ndash;&gt;-->

      <!--<div class="theory-bottom">  &lt;!&ndash;Поле с кнопками&ndash;&gt;-->
        <!--<button type="button" class="et-button" id="prev">назад</button>-->
        <!--<button type="button" class="et-button right" id="next">вперед</button>-->
      <!--</div>-->

      <!--<div class="theory-line"></div>-->

    <!--</div>&lt;!&ndash;.theory collapse&ndash;&gt;-->

    <!--&lt;!&ndash;ACTIVITIES START&ndash;&gt;-->

    <!--<div class="col-md-8 activities">-->

      <!--<div class="activities-line">-->
        <!--<h3 style="">Singular and Plural.</h3>-->
      <!--</div>&lt;!&ndash;.activities-upper collapse&ndash;&gt;-->

      <!--<div class="activities-content-wrapper">-->
        <!--<div class="activities-content">-->


        <!--</div>-->
      <!--</div>		&lt;!&ndash; ЗДЕСЬ ЗАКАНЧИВАЕТСЯ ОБОЛОЧКА &ndash;&gt;-->


      <!--<div class="activities-bottom">-->
        <!--<button type="button" class="et-button right" id="canc" style="right:120px">отмена</button>-->
        <!--<button type="button" class="et-button right" id="subm">готово</button>-->
      <!--</div>-->

      <!--<div class="activities-line"></div>-->

    <!--</div> &lt;!&ndash;.activities collapse&ndash;&gt;-->

  <!--</div> &lt;!&ndash;.row collapse&ndash;&gt;-->

