<div class="flex-container">
  <div class="flex-1">
    <div class="upperline">
      <h3>Noun.</h3>
    </div>
    <div class="theory-content">

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus hic laboriosam libero quaerat quas quidem quod recusandae reiciendis voluptatum. Aliquam aspernatur corporis expedita laborum magni maxime possimus quae quam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda consequuntur doloribus esse incidunt numquam rem ut vero! Ad eum eveniet facilis ipsum, non optio quibusdam repudiandae tempore unde velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur atque beatae, consequatur earum eius laboriosam laudantium molestias nobis non obcaecati quas, quasi quibusdam rerum sunt ullam unde veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam, commodi, deserunt eaque facere, hic ipsam labore minus neque optio pariatur quis quo quod sequi sint suscipit vel voluptatem!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus hic laboriosam libero quaerat quas quidem quod recusandae reiciendis voluptatum. Aliquam aspernatur corporis expedita laborum magni maxime possimus quae quam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda consequuntur doloribus esse incidunt numquam rem ut vero! Ad eum eveniet facilis ipsum, non optio quibusdam repudiandae tempore unde velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur atque beatae, consequatur earum eius laboriosam laudantium molestias nobis non obcaecati quas, quasi quibusdam rerum sunt ullam unde veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam, commodi, deserunt eaque facere, hic ipsam labore minus neque optio pariatur quis quo quod sequi sint suscipit vel voluptatem!
        elit. Accusamus adipisci consequatur ea itaque molestiae odio optio perferendis possimus praesentium, sapiente tempora veritatis? Accusamus commodi debitis dignissimos magni nesciunt provident sint.

      </div>

    </div>
    <div class="lowerline">

    </div>
  </div>

  <div class="flex-2">
    <div class="upperline">
      <h3>Singular and Plural.</h3>
    </div>
    <div class="activities-content">

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus hic laboriosam libero quaerat quas quidem quod recusandae reiciendis voluptatum. Aliquam aspernatur corporis expedita laborum magni maxime possimus quae quam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda consequuntur doloribus esse incidunt numquam rem ut vero! Ad eum eveniet facilis ipsum, non optio quibusdam repudiandae tempore unde velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur atque beatae, consequatur earum eius laboriosam laudantium molestias nobis non obcaecati quas, quasi quibusdam rerum sunt ullam unde veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam, commodi, deserunt eaque facere, hic ipsam labore minus neque optio pariatur quis quo quod sequi sint suscipit vel voluptatem!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus hic laboriosam libero quaerat quas quidem quod recusandae reiciendis voluptatum. Aliquam aspernatur corporis expedita laborum magni maxime possimus quae quam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda consequuntur doloribus esse incidunt numquam rem ut vero! Ad eum eveniet facilis ipsum, non optio quibusdam repudiandae tempore unde velit?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur atque beatae, consequatur earum eius laboriosam laudantium molestias nobis non obcaecati quas, quasi quibusdam rerum sunt ullam unde veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam, commodi, deserunt eaque facere, hic ipsam labore minus neque optio pariatur quis quo quod sequi sint suscipit vel voluptatem!
        elit. Accusamus adipisci consequatur ea itaque molestiae odio optio perferendis possimus praesentium, sapiente tempora veritatis? Accusamus commodi debitis dignissimos magni nesciunt provident sint.

      </div>


    </div>
    <div class="lowerline">

    </div>
  </div>
</div>
