@import "../css/vars";

.navbar {
  border-radius: 0;
  border: none;
  margin: 0;
  height: $header-height;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  & .navbar-collapse {
    background-color: #fff;
    //border:1px solid #e7e7e7;
  }
}
.footer-pusher{
  min-height: calc(100vh - #{$footer-height} - #{$header-height});
}
footer{
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 5px 50px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 50px -5px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 50px -5px rgba(0,0,0,0.5);
}
